api_key=your api key that you can find on https://www.weatherapi.com/my/ just by creating an account.
host=your mysql host name (localhost by default)
user=your mysql user
password=your user's password
secret=a secret for your JWT

!!! DON'T FORGET TO NAME YOUR FILE .ENV !!!