#your api key that you can find on https://www.weatherapi.com/my/ just by creating an account.
api_key=my_api_key

# Database configuration
#do not change if you are using docker-compose
#to change user and password, you need to change the docker-compose.yml file too
host=db
database=meteo
db_port=3306
user=example
password=example

#a secret for your JWT token
secret=mysupersecretjwt