body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f4f8; /* Une teinte douce de bleu-gris */
    color: #444; /* Couleur de texte légèrement plus douce */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px; /* Limiter la largeur du contenu pour une meilleure lisibilité */
    margin: 0 auto; /* Centrer le contenu horizontalement */
    padding: 20px;
    box-sizing: border-box; /* Inclure les paddings dans la largeur */
    text-align: center;
}

h1 {
    font-size: 32px; /* Légèrement plus grand pour le titre principal */
    margin-bottom: 20px;
    color: #333; /* Couleur de texte légèrement plus foncée */
}

p {
    font-size: 16px; /* Légèrement plus petit pour le corps du texte */
    line-height: 1.6;
    color: #666; /* Couleur de texte plus douce */
}

img {
    max-width: 100%; /* Assurer que les images ne dépassent pas leur conteneur */
    height: auto;
}

/* Style pour la fenêtre de connexion (exemple) */
.login-window {
    background-color: rgba(255, 255, 255, 0.9); /* Fond blanc légèrement transparent */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Légère ombre */
}

/* Style pour les boutons (exemple) */
.button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
}

.bouton {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}