<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page d'Accueil</title>
    <link rel="stylesheet" href="../static/styles.css?v=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Application météo</h1>
        <p>Navigation:</p>
        <button class="bouton" onclick="window.location.href='register'">S'inscrire</button>
        <button class="bouton" onclick="window.location.href='login'">Se connecter</button>
        <button class="bouton" onclick="window.location.href='weather'">Application</button>
        <button class="bouton" onclick="window.location.href='history'">Historique</button>
    </div>
</body>
</html>